h1{
    color: #d53bff;
    font-size: 18px;
}
article.sound{
    width:600px;
    margin:50px auto;
    font-size: 0;
}
article.sound section.sound-content{
    width: 300px;
    display: inline-block;
    font-size: 18px;
}
article.sound section.sound-content a img{
    border-radius: 100%;
}